body {
    margin: 0 auto;
    width: 50%;
    background: thistle;
    text-align: middle;
    font-family: sans-serif;
    }

.container {
    width: 360px;
}

#inputField{
    width: 315px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#enter {
    width: 30px;
    height: 32px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
.to-dos{
    margin-top: 25px;
}

.paraghraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 25px;
}