body {
    margin: 0 auto;
    width: 50%;
    background: thistle;
    text-align: middle;
    font-family: sans-serif;
    font-size: 30px;
    }

.container {
    width: 360px;
}

#inputField{
    width:200px;
    height: 50px;
    border: 1px solid black;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
}

#enter {
    width: 50px;
    height: 45px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
.to-dos{
    margin-top: 25px;
}

.paraghraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 10px;
}

.table th{
    font-size: 15px;
    color: black;
}

.table td input{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: left;
}